#authors {
    .card {
        @include respond(md2screen) {
            margin-bottom: 2rem;
        }
    }

    img {
        margin-top: -50px;
    }

    .card:hover {
        background-color: $color-primary;
        color: #fff;
        .fab {
            color: #fff;
        }
    }

    h3, h5 {
        @include respond(tab-land) {
            font-size: 1rem;
        }
    }

    h3, h5 {
        @include respond(tab-land) {
            font-size: 1.25rem;
        }
    }
}